<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
		<listener class-name="com.junkybooks.listeners.Listeners" />
	</listeners>


  <test thread-count="5" name="Test">
    <classes>
     <class name="com.junkybooks.testcases.TC_LoginPageTest"/>
     <class name="com.junkybooks.testcases.TC_RegisterPageTest"/>
      <class name="com.junkybooks.testcases.TC_ResetPasswordPageTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
